/* custom bootstrap css */

/* variables */

:root {
    --bs-dark: #353A3F;
    --bs-black: #000000;
    --dark: #333333;
    --light: #fff;
    --highlight: #74FBB5;
    --hover: #fff;
    --hover-span: orange;
    --box-shadow: rgba(0, 0, 0, 0.8);
    --bg-grey: #BCBEC3;
    --peachy: #F3AEAC;
    --peachier: #EA655D;
    --purps: #A5ACF5;
    --aqua: #74FBB5;
    --lumi: #c0fa62;
    --gradient: linear-gradient(45deg,
            rgba(47, 47, 47, 0.8) 0%,
            rgba(119, 119, 119, 0.7) 100%);
    --gradient-light: linear-gradient(45deg,
            rgba(158, 158, 158, 0.8) 0%,
            rgba(255, 255, 255, 0.7) 100%);
    --shadow: 10px 10px rgba(66, 66, 66, 0.5);
    --btn-shadow: 0 5px 10px 0 rgba(0,0,0,0.2),
                 0 7px 10px 0 rgba(0,0,0,0.1);
}

/* browser reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* does this need to be custom? */
.custom-body {
    background-image: var(--gradient);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: var(--light);
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 300;
    /* adjusted to assist spyscroll */
    padding-top: 60px;
    margin-top: -80px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

a {
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}


span {
    padding: 0 1rem;
}

span:hover {
    color: var(--hover-span);
    cursor: pointer;
}

em {
    color: var(--highlight);
}

hr {
    opacity: 0;
}

.custom-hr {
    background-color: var(--dark);
    margin: 1rem 0;
    opacity: 1;

}

.custom-b {
    color: var(--highlight);
}

.h2-custom {
    padding-top: 1rem;
    padding-bottom: -1rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* btn classes */

custom-btn:hover {
    box-shadow: var(--box-shadow);
}

/* navbar */

#logo {
    width: 50px;
    height: 50px;
}

.custom-nav {
    z-index: 99;
}

/* brand text and logo*/

.custom-navbar-brand {
    color: var(--light);
    align-items: center;
    animation: easeInOutLeft 2s;
}

.custom-navbar-brand:hover {
    color: var(--highlight);
}

.navbar-toggler {
    /* hide bs toggle */
    background-color: var(--bs-dark);
    color: var(--bs-dark);
}

.navbar-toggler:hover {
    background-color: var(--bs-dark);
}

.custom-toggler {
    position: absolute;
    top: .4rem;
    right: -1.2rem;
    margin: 1rem;
    margin-top: .5rem;
    border: none;
}

custom-toggler:hover {
    background-image: none;
    background-color: var(--bs-dark);
}

.custom-toggler-icon::before {

    font-family: Font Awesome\ 6 Free;
    content: "\f0c9";
    color: var(--light);
    font-size: 40px;
}

.custom-nav-item {
    color: var(--light);
    margin-top: .7rem;
    font-size: 1rem;
}

.custom-nav-item:focus {
    color: var(--purps);
}

.custom-nav-item:hover,
.custom-nav-item:active {
    color: var(--highlight);
}

/* navbar animations */

.nav-anim {
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    -webkit-animation-name: slideDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: none;
}

.nav-right {
    animation: fadeIn 3s normal backwards;
    animation-iteration-count: 1;
}

#links {
    margin-right: 1rem;
}

/* end navbar */

/* header / hero */

/* ios/safari overflowX bug fix */

.wrapper {
    margin-top: 4rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -2rem;
  }

.container-grid {
    margin: 0 auto;
}

/* double jumbo */

.jumbo-custom-top,
.jumbo-custom-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(40vh - 1rem);
}

.header-hero {
    margin-top: -4rem;
}

.header-hero .container-grid {
    display: flex;
    justify-content: center;
}

/* hero-anim squares */

.bg-grid-container {
    animation: fadeIn 15s;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 3px;
    width: 100vw;
    height: 230px;
    padding: 2rem;
    padding-bottom: 2rem;
    z-index: -1;
}

.bg-grid-container > * {
    border: 1px solid var(--bs-black);
}

.grid-item {
    width: 4rem;
    height: 2rem;
}

#aqua {
    background-color: var(--highlight);
    animation: colourFade 2.3s ease alternate infinite;
}

#peach {
    background-color: var(--peachy);
    animation: colourFade 3.5s ease alternate infinite;
}

#purple {
    background-color: var(--purps);
    animation: colourFade 3s ease alternate infinite;
}

#lumi {
    background-color: var(--lumi);
    animation: colourFade 2.8s ease alternate infinite;
}

/* jumbotron custom bottom */

.jumbo-custom-bottom {
    padding-top: 4rem;
    margin: 2rem;
    margin-bottom: 3rem;
}

.lead-custom {
    font-size: 24px;
}

/* ready to build CTA heading */

.h1-custom {
    margin: 1rem 0;
    font-size: 80px;
    font-weight: 700;
}

.custom-btn {
    transition-duration: 0.2s;
    background-color: var(--lumi);
}

.custom-btn:hover {
    background-color: var(--purps);
    box-shadow: var(--btn-shadow);
}

/* main */

.page-section {
    padding: 0 1rem;
    margin: 2rem auto;
}

.page-section:focus, 
.page-section:active {
    outline: none !important;
    box-shadow: none;
 }
 

/* about section */

#about {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

#photo {
    border-radius: 20rem;
    border: 3px solid var(--highlight);
}

.about-jumbo {
    /* adjust gap to match nav */
    margin-top: 2rem;
}

.heading {
    margin: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.text-muted {
    padding-top: 1rem;
}

.card {
    margin: 1rem;
    box-shadow: var(--shadow);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-body {
    padding: 2rem;
    text-align: center;
}

.card-left {
    padding-top: 1rem;
    text-align: left;
}

.card-subtitle {
    margin-bottom: 1rem;
}

.link-colour {
    color: var(--lumi);
}

.link-colour:hover {
    color: var(--peachy);
}

.link-colour-2 {
    color: var(--purps);
}

.link-colour-2:hover {
    color: var(--peachy);
}

/* early icon row */

.icon-row {
    padding: 2rem;
}

.apps {
    padding-top: 5rem;
}


/* projects section  */


.custom-card-body {
    padding-top: 3rem;
}

#projects {
    margin-bottom: 4rem;
}

.heading-projects {
    padding: 1rem;
    margin-top: 2rem;
}

/* section - skills */


.heading-skills {
    padding-top: 4rem;
    padding-bottom: 0;
    padding-left: 1rem;
}

.skills-box ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: .5rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: -1.5rem;
}

.skills-box ul>li {
    list-style-type: none;
    text-align: center;
}

/* languages and apps logos */

.language-logos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    padding-bottom: 1rem;

}

.language-logos img {
    width: 70px;
}

/*  skills s p r e a d  */

#fe {
    color: var(--aqua);
}

#be {
    color: var(--purps);
}

#vi {
    color: var(--peachy);
}

#mp {
    color: var(--aqua);
}

#an {
    color: var(--purps);
}

/* future skills */

.heading-future {
    padding: 2rem;
    margin-top: 1rem;
}

.custom-card {
    padding: 2rem;
}

.card-title-large-left {
    font-size: 30px;
    text-align: left;
}

.card-title-large {
    font-size: 30px;
}

.custom-card-body-left {
    text-align: left;
}

.future-skills-ul,
.social-ul {
    list-style-type: none;
    line-height: 2.0;
}

.future-skills-ul {
    text-align: left;
    padding-left: 1rem;
}

.icon-ul ul li:before {    
    font-family: Font Awesome\ 6 Free;
    content: '\f121';
    margin:0 5px 0 -15px;
    color: var(--aqua);
}

.social-ul {
    margin-left: -2rem;
}

/* social links */

#gh a:hover {
    color: var(--aqua);
}

#lk a:hover {
    color: var(--peachy);
}

#sk a:hover {
    color: var(--purps);
}

#tw a:hover {
    color: var(--aqua);
}

#el a:hover {
    color: var(--peachy);
}

#cv a:hover {
    color: var(--purps);
}

.music-link {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem 2rem;
}

#scloud,
#scloud1 {
    width: 30px;
    height: 30px;

}

/* section - contact */

#contact {
    margin: 4rem 1rem;
}

.mod {
    padding-left: 0;
    padding-right: 0;
}


.heading-contact {
    padding: 4rem 1rem;
    margin-top: 1rem;
    text-align: center;
}

.custom-text {
    color: var(--light);
    opacity: .4;
}

/* form bottom */

.signup {
    text-align: left;
    margin: 0 auto;
    padding: 0 1rem;
}

.signup label {
    width: 600px;
}

.custom-form-label,
.custom-btn-form {
    margin-top: 2rem;
}

/* custom linkedIn banner */

#banner {
    height: 330px;
}

/* footer */

.footer {
    position: relative;
    top: 4rem;
    height: 10rem;
    background-color: var(--bs-dark);
    display: block;
    text-align: center;
    padding-top: 2rem;
    margin: 0 auto;

}

.footer-text {
    padding: 0px 0px;
}

.footer em {
    font-size: 10px;
}

.footer strong {
    color: var(--peachier);
    font-family: monospace;
    font-size: 18px;
}

/* footer icons */

.ul-icons {
    margin: 0 auto;
    /* why no centering? */
    margin-left: -2rem;
}

.ul-icons img {
    width: 24px;
}

.ul-icons>li {
    display: inline-block;
    padding: 1rem 1rem;
}


/* responsive media queries */

/* adjust form label sizes */

@media screen and (max-width: 1550px) {
    .signup label {
        width: 700px;
    }
}

@media screen and (max-width: 1450px) {

    .jumbo-bottom {
        margin-top: 6rem;
    }

    .signup label {
        width: 600px;
    }
}

@media screen and (max-width: 1024px) {

    /* jumbotron edits */

    .bg-grid-container {
        padding: 2rem 5px;
        margin: 0 3px;
        margin-right: 3px;
        margin-bottom: 1rem;
        gap: 4px;
    }

    .h1-custom {
        font-size: 85px;
    }

    .h2-custom {
        padding-bottom: 0;
    }

    /* about section cards */

    .custom-card-about {
        padding-top: -1rem;
        padding-bottom: 2rem;
    }

    .custom-card-img {
        padding-bottom: 1rem;
    }

    .card-body img {
        width: 250px;
    }

    #projects {
        margin-top: -1rem;
        margin-bottom: -2rem;
    }

    /* headings */
    .heading {
        text-align: left;
        padding-bottom: 2rem;
    }

    .heading-contact {
        text-align: center;
    }

    /* skills */

    #skills {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }


    .heading-skills {
        text-align: center;
     }

    .icon-row {
        margin-top: -1rem;
    }

    .skills-box ul {
        display: block;
        padding-top: 2rem;
        line-height: 4rem;
    }

    .skills-box ul>li {
        text-align: center;
        letter-spacing: .7rem;
        text-decoration: none;
    }

     /* project cards */

     .card {
        margin: .4rem;
        margin-bottom: 2rem;
     }

     .card-body {
        padding: 1rem;
        padding-top: 2rem;
     }

     .card-text {
        font-size: 16px;
     }

     /* contact section */

     #contact {
        margin-top: -3rem;
     }

     .contact-form {
        padding-bottom: 2rem;
     }

     .signup label {
        width: 500px;
    }
}

@media screen and (max-width: 995px) {

    /* navbar edits  */
    .navbar-toggler-icon {
        font-size: 30px;
        padding-top: .5rem;
    }

    .header-hero {
        margin: 0 auto;
        margin-bottom: 5rem;
        padding-top: 0;
    }

    .jumbo-bottom {
        margin-top: 8rem;

    }

    .jumbo-bottom h1 {
        font-size: 68px;
    }

    .heading {
        margin-bottom: 0;
    }

    .heading-skills,
    .heading-contact {
        padding-left: 0;
        text-align: center;
    }

    .card {
        margin: 2rem 1rem;
        padding-top: 2rem;
    }

    .language-logos img {
        width: 50px;
        padding: 0;
    }

    .signup label {
        width: 450px;
    }

}

@media screen and (max-width: 834px) {

    /* navbar edits  */
    .navbar-toggler-icon {
        font-size: 30px;
        padding-top: .5rem;
    }

    /* wrapper fix */

    .wrapper {
        margin-top: 1rem;
    }

    /* jumbotron edits */

    .bg-grid-container {
        padding: 2rem 5px;
        margin: -4rem 1rem;
        margin-right: .8rem;
        margin-bottom: 4rem;
        gap: 5px;
    }

    .jumbo-custom-bottom {
        margin-top: -2rem;

    }

    .h1-custom {
        font-size: 68px;
        padding-top: 0;
    }

    .custom-heading {
        font-size: 60px;
    }

    .custom-card-about {
        padding-bottom: 1rem;
    }

    .h2-custom {
        margin-top: -1rem;
    }

    .card-left {
        padding-bottom: 2rem;
    }

    .img-card {
        padding-bottom: 1rem;
    }

    .img-card img {
        width: 400px;
    }

    .apps {
        height: 50px;
        margin: 0 auto;
        align-items: center;
    }

    #projects {
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .card {
        padding-top: 0;
    }

    .heading {
        padding-bottom: 2rem;
        text-align: center;
    }

    #skills {
        margin: 0 auto;
        text-align: center;
    }

    .language-logos img {
        width: 30px;

    }

    .skills-box ul {
        display: block;
        line-height: 4rem;
    }

    .skills-box ul>li {
        text-align: center;
        letter-spacing: .5rem;
    }

    /* comtact */

    #contact {
        margin-top: 4rem;
    }

    .signup label {
        width: 280px;
    }

}

@media screen and (max-width: 768px) {


    .wrapper {
        margin-bottom: -4rem;
    }

    .header-hero {
        margin: 1rem auto;
        margin-bottom: 1rem;
    }

    .bg-grid-container {
        padding: 2rem .5rem;
        margin-right: 1.6rem;
        margin-bottom: 2rem;
        gap: 6px;
    }

    .h1-custom {
        font-size: 44px;
    }

    .jumbo-custom-bottom {
        margin: 2rem auto;
        margin-bottom: 0;
        scale: 1.0;
    }

    .main {
        margin-top: -3rem;
    }

    .h2-custom {
        padding-top: 4rem;
    }

    .card {
        margin: 2rem 0;
        padding-top: 0;
    }

    .card-title {
        margin-top: -4rem;
    }

    .skills-box ul {
        display: block;
        text-align: center;
        letter-spacing: 2rem;
        line-height: 2rem;
        margin-bottom: 0;
    }

    /* future skills & social */

    .heading-future h2 {
        font-size: 44px;
        margin-top: 2rem;
    }
    /* contact */

    .heading-contact {
        margin-top: 2rem;
    }

    .signup label {
        width: 400px;
    }

    .footer p {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    
    .h1-custom {
        font-size: 28px;
    }

    /* heading size */
    .heading {
        font-size: 55px;
    }

    .header-hero {
        margin-top: 0;
    }

    .jumbo-bottom {
        margin: 1rem 5px;
    }
    

    .card {
        margin: 1rem 0;
        padding-top: 1rem;
    }

    /* skills section */
    .skills-box ul {
        margin: 2rem 0;
        padding: 2rem 0;
        margin-bottom: 0;
    }

    /* contact section */

    #contact {
        margin-top: 0px;
    }

    .signup label {
        width: 400px;
    }

}

@media screen and (max-width: 500px) {

    .signup label {
        width: 300px;
    }

    .footer {
        height: 10rem;
    }

    .footer p {
        font-size: 14px;
    }
}

@media screen and (max-width: 414px) {

    .wrapper {
        margin-top: -3rem;
        margin-bottom: -8rem;
    }

    .h1-custom {
        font-size: 48px;
    }


    .h2-custom {
        margin-top: -5rem;
        margin-bottom: -1rem;
        font-size: 28px;
    }

    .bg-grid-container {
        padding: 4rem .5rem;
        margin-top: .7rem;
        margin-left: 5px;
        margin-right: 4rem;
        margin-bottom: 4rem;
        gap: 3px;
    }

    .header-hero {
        margin: 2rem 0;
        margin-bottom: 8rem;
    }

    .jumbo-custom-bottom {
        margin: 2rem auto;
        margin-top: 18rem;
        margin-bottom: 8rem;
    }

    .lead-custom {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .custom-btn {
        font-size: 16px;
    }

    .custom-heading {
        padding: 1rem 0;
        padding-top: 6rem;
        font-size: 44px;
    }

    .heading {
        margin: 2rem 0;
        margin-bottom: 0;
        font-size: 40px;
    }

    #about {
        margin: 0 -1rem;
        margin-top: 12rem;
        margin-bottom: 6rem;
    }

    #projects {
        margin: 0 -1rem;
        margin-top: -6rem;
        margin-bottom: 1rem;
    }

    .card {
        margin: 1rem auto;
        padding-top: 0;
    }

    .card-link {
        font-size: 16px;
    }

    .img-card img {
        width: 330px;
    }

    .card-title {
        margin-top: -5rem;
    }

    /* skills section */

    #skills {
        margin-top: -2rem;
    }

    .skills-box {
        margin-top: -4rem;
        text-align: center;
    }

    .skills-box ul > li {
        padding: 1rem;
    }

    .heading-skills h2 {
        padding-bottom: 4rem;
        font-size: 40px;
    }

    .heading-future {
        margin-top: -4rem;
    }

    #contact {
        margin: 0 -1rem;
        margin-top: -2rem;
    }

    .heading-contact {
        font-size: 40px;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .contact-box {
        text-align: center;
    }

    .card-body ul {
        display: block;
        text-align: center;

    }

    .mod {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer {
        height: 12rem;
        margin-top: 4rem;
    }

    .footer p {
        font-size: 18px;
        padding: 1rem;
    }

}

@media screen and (max-width: 375px) {

    .wrapper {
        margin-top: -3rem;
        margin-bottom: -4rem;
    }

    .bg-grid-container {
        padding: 4rem .5rem;
        margin-top: 2rem;
        margin-left: -1rem;
        margin-right: 1rem;
        margin-bottom: 7rem;
        gap: 2px;
    }

    .header-hero {
        margin: 2rem 0;
        margin-bottom: 6rem;
    }
    

    .jumbo-custom-bottom {
        margin: 2rem auto;
        margin-top: 14rem;
        margin-bottom: 8rem;
    }

    .h1-custom {
        font-size: 44px;
    }


    .h2-custom {
        margin-top: -5rem;
        margin-bottom: -1rem;
        font-size: 28px;
    }

    .card-left {
        padding-bottom: 1rem;
    }

    .img-card {
        padding-bottom: 1rem;
    }

    .img-card img {
        width: 300px;
    }

    .apps {
        height: 40px;
        margin: 0 auto;
        align-items: center;
    }

    .heading {
        font-size: 40px;
    }

    /* skills section */

    #skills {
        margin-top: -8rem;
    }

    .heading-skills h2 {
        font-size: 40px;
        margin: 1rem -1rem;
    }

    .skills-box {
        text-align: center;
    }
    .skills-box ul > li {
        padding: 1rem;
    }

    .icon-row {
        padding: 1rem;
    }

    .heading-future h2 {
        font-size: 40px;
    }

    .card-mob {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* contact section */

    #contact {
        margin-top: 1rem;
    }

    .heading-contact {
        padding-left: 1rem;
    }

    .contact-box {
        text-align: center;
    }

    .custom-card-body ul {
        text-align: center;
    }

    .footer p {
        padding: 1rem;
        font-size: 14px;
    }

}

@media screen and (max-width: 320px) {

    #logo {
        width: 33px;
        height: 33px;
    }

    .custom-toggler {
        margin: 0;
        top: 10px;
        right: -8px;
    }

    .custom-toggler-icon::before {
        font-size: 30px;
        margin-top: 2rem;
    }

    .custom-nav-item {
        font-size: 14px;
        padding-left: .5rem;
    }

    .wrapper {
        margin-top: -1rem;
    }

    .bg-grid-container {
        padding: 4rem .5rem;
        margin-top: 2rem;
        margin-left: -1rem;
        margin-right: .8rem;
        margin-bottom: 9rem;
        gap: 2px;
    }

    .header-hero {
        margin: 4rem 0;
        margin-bottom: 6rem;
    }

    .jumbo-custom-bottom {
        margin: 2rem 0;
        margin-top: 16rem;
        margin-bottom: 12rem;
    }

    .h1-custom {
        font-size: 44px;
    }


    .h2-custom {
        margin-top: -5rem;
        margin-bottom: -1rem;
        font-size: 28px;
    }

    .card-link {
        font-size: 14px;
    }

    .card-left {
        padding-bottom: 1rem;
    }

    .img-card {
        padding-bottom: 1rem;
    }

    .img-card img {
        width: 250px;
    }

    .heading {
        font-size: 40px;
    }

    /* skills section */

    #skills {
        margin-top: -8rem;
    }

    .heading-skills h2 {
        font-size: 33px;
        margin: 1rem -1rem;
    }

    .skills-box {
        text-align: center;
    }
    .skills-box ul > li {
        padding: 1rem;
    }

    .future-skills-ul {
        font-size: 16px;
    }

    .future-skills-ul li {
        text-align: left;
    }

    /* contact section */

    #contact {
        margin-top: 1rem;
        margin: 0 -.8rem;
    }

    .heading-contact {
        padding-left: 1rem;
    }

    .contact-box {
        text-align: center;
    }

    .custom-card-body {
        margin: 0 auto;
    }

    .custom-card-body ul {
        text-align: center;
    }


    .card-mob {
        padding-top: 2rem;
        padding-left: .3rem;
        padding-right: .3rem;
    }

    .contact-form {
        width: 280px;
    }

    .signup {
        width: 250px;
    }

    .mod {
        padding-left: .7rem;
        padding-right: .7rem;
    }

    .footer p {
        padding: 1rem;
        font-size: 14px;
    }
}